<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="app.hoocchi.perfectdemo">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- Transition Demo -->
        <activity
            android:name=".transition_demo.TransitionMainActivity"
            android:theme="@style/TransitionDemoTheme"/>
        <activity
            android:name=".transition_demo.TransitionActivity1"
            android:theme="@style/TransitionDemoTheme.Red"/>
        <activity
            android:name=".transition_demo.TransitionActivity2"
            android:theme="@style/TransitionDemoTheme.Red"/>
        <activity
            android:name=".transition_demo.ShareElementActivity"
            android:theme="@style/TransitionDemoTheme.Blue"/>
        <activity
            android:name=".transition_demo.SceneAnimationActivity"
            android:theme="@style/TransitionDemoTheme.Green"/>
        <activity
            android:name=".transition_demo.CircularRevealActivity"
            android:theme="@style/TransitionDemoTheme.Yellow"/>
        <activity
            android:name=".transition_demo.CustomTransitionActivity"
            android:theme="@style/TransitionDemoTheme.Purple"/>

        <!-- Material Demo -->
        <activity
            android:name=".material_demo.MaterialMainActivity"
            android:theme="@style/MaterialDemoTheme"/>

        <!-- Preference Demo -->
        <activity android:name=".preference_demo.PreferenceMainActivity"/>
        <activity android:name=".preference_demo.PreferenceActivityDemo"/>
        <activity
            android:name=".preference_demo.PreferenceFragmentDemo"
            android:theme="@style/AppTheme.NoActionBar"/>

        <!-- TranslucentBar Demo -->
        <activity android:name=".translucent_bar_demo.TranslucentBarMainActivity"/>
        <activity android:name=".translucent_bar_demo.TranslucentBarOnKitKat"/>
        <activity android:name=".translucent_bar_demo.TranslucentBarOnKitKatDrawer"/>
        <activity android:name=".translucent_bar_demo.TranslucentBarOnLolipop"/>
        <activity android:name=".translucent_bar_demo.TranslucentBarOnLolipopDrawer"/>

        <!-- RecyclerView Demo -->
        <activity android:name=".recycler_view_demo.RecyclerViewMainActivity"/>
        <activity
            android:name=".recycler_view_demo.layout_manager.LayoutManagerActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".recycler_view_demo.decoration.ItemDecorationActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".recycler_view_demo.adapter.CommonAdapterActivity"
            android:theme="@style/AppTheme.NoActionBar"/>


        <!-- CustomView Demo-->
        <activity android:name=".custom_view_demo.CustomViewMainActivity"/>
    </application>

</manifest>